name: web-deploy.yml
on:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  web-app-build:
    runs-on: ubuntu-latest
    steps:
      - name: Pull GitHub Repository
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install Project Dependencies
        run: npm ci
      - name: Build Web App
        run: npx expo export --output-dir dist
      - name: Fix Routing
        run: touch dist/.nojekyll
      - name: Upload Web App Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'dist'
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: web-app-build
    steps:
      - name: Deploy Web App
        id: deployment
        uses: actions/deploy-pages@v4